/* Estilo global */
* {
    font-family: sans-serif;
    font-style: initial;
    font-size: 1em;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

/* Header: portada */
.portada {

    padding: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background:radial-gradient(gray,5%,black);
}



/* Menú de navegación */

.navbar{
    position: sticky;
    top: 0;;
}
.ulista {
    background-color: orangered;
    display: flex;
    width: 100%;
}

.menu {
    list-style-type: none;
    display: inline-flex;
}

.menu a {
    padding: 1em 1em;
    text-decoration: none;
    border-left: 1px solid rgb(255, 110, 57);
}

.menu a:hover {
    background-color: rgb(255, 132, 75);
}

/* Carteles de categorías */
.cartel {
    display: flex;
    color: orange;
    border-bottom: 2px solid orange;
    font-size: 30px;
    padding: 10px;
}

/* Sección de productos (merc) */
.merc-container {
    display: flex;
    justify-content: center;
}

.merc {
    height: auto;
    display: grid;
    gap: 3.5em;
    margin: 5.5em 0;
    grid-template-columns: repeat(4,1fr);
    align-content: center;
}

table {
    text-align: center;
}

.item table{
    height: 220px;
}

.item {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 325px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 1em 2.5em;
}

.compra{
    display: block;
    text-align: center;
    margin: 1em;
    padding: .5em;
    background-color: #fff;
    color: black;
    align-self: end;
    margin: 0;
    text-decoration: none;
}

.compra:hover{
    background-color: orangered;
    color: white;
}



/* Contacto y botones */
.contacto {
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

.texto-label{
    margin-left: 1em;

}

.info{
    color: black;
    margin-right: 1em;
}

.enviar {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}

.enviar button {
    color: #fff;
    padding: 0.5em;
    background-color: orangered;
}

/* Mensaje de agradecimiento */
.gracias {
    display: flex;
    justify-content: center;
}

.presentacion{
    padding: 1em;
    margin: 1em;
}

/*Reseñas*/
.grid-container{
    display: grid;
    padding: 1.5em;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5em;
    background-color: rgb(0, 0, 0);
    justify-content: center ;
    
}

.card{
    padding: 2.5em;
    background-color: rgb(32, 30, 30);
}

.estrellas{
    color: gold;
    text-decoration: none;
}

/* Pie de página */
footer {
    margin-top: 6em;
    padding: 1em;
    background-color: orangered;
}

/* Media queries */
@media only screen and (max-width: 600px) {
    .merc {
        grid-template-columns: repeat(2,1fr);
        margin: 1.75em 1em;
        gap: 1em;
    }
    .item{
        justify-content: center;
        height: 280px;
        width: 80px;
        font-size: 12px;
    }
    img{
        height: 160px;
        width: 110px;
    }

    .gracias {
        height: 150px;
    }

    .info{
        margin: 0 1em;
    }

    .grid-container{
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .menu a{
        padding: 1em .6em;
    }
    .portada{
        font-size: 2em;
        padding: 2.5em;
    }
    .libro-de-portada{
        height: 75px;
        width: 75px;
    }


}

@media only screen and (min-width: 650px){
    .merc {
        grid-template-columns: repeat(3, 1fr);
        margin: 1em 0;
        gap: 2em;
        padding: 2em;
    }
    .item{
        justify-content: center;
        align-items: space-around;
        height: 270px;
        width: 80px;
        font-size: 12px;
    }
    .item img{
        height: 170px;
        width: 110px;
    }
    .libro-de-portada{
        height: 1px;
        width: 1px;
    }
    .portada{
        font-size: 2.5em;
        padding: 2em;
    }
    .libro-de-portada{
        height: 95px;
        width: 100px;
    }
} 

@media only screen and (min-width: 770px){
    .merc {
        grid-template-columns: repeat(3, 1fr);
        margin: 2em 0;
        gap: 2.5em;
        padding: .5em;
    }
    .item{
        justify-content: center;
        height: 310px;
        width: 120px;
        font-size: .80em;
    }

}

@media only screen and (min-width: 1024px)
{
    .merc{
        gap: 1.5em;
        grid-template-columns: repeat(4,1fr);
    }
    .item{
        height: 350px;
        font-size: 1em;
    }
}

@media only screen and (min-width: 1200px)
{
    .merc{
        gap: 5em;
        margin: 3.5em 0;
        grid-template-columns: repeat(4,1fr);
    }
   

}
